<!DOCTYPE html>
<html>
<head>
    <title>Data Science Quiz</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="quiz-container">
        <h1>Python PRO Quiz</h1>
        <form action='/quiz', method='POST'>
            <!-- Get the Username -->
            <h2>Please Enter Your Name</h2>
            <input type="text" name="username" required>

            <br>
            <input type="submit" class="submit-button", name="index_submit", value="Continue">
        </form>
    </div>

    <!-- Users best score in the top right corner -->
    <div class="top-scores">
        <p>General High Score: <b>{{all_best}}</b></p>
    </div>

    <!-- Footer with information about the author -->
    <footer>
        <p><a href="https://www.linkedin.com/in/davutbayik/", target="_blank">&copy; Davut Bayık</a> | All Rights Reserved.</p>
    </footer>
</body>
</html>